@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
} 
@if (SignInManager.IsSignedIn(User))
    {
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Profile" asp-route-id="@currentUser.Id">Profile</a>
</li>
    
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Documents" asp-action="Timetables">Timetables</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Documents" asp-action="Documents" asp-route-id="@currentUser.Id">Personal Documents</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Grades" asp-action="Grades" asp-route-id="@currentUser.Id">Personal Grades</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Documents" asp-action="Certificates">Certificates</a>
</li>
}