@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<UCVstudents.Models.Document>

<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<style>
    tr {
        background-color: white !important;
    }

        tr:nth-child(odd) {
            background-color: #eeeeee !important;
        }
</style>

<h1>Certificates</h1>

<p>
    Here you can find certificates to download
</p>
<table class="table">
@if (User.IsInRole("Student"))
{
    @foreach (Document document in Model.Where(document => document.Type == "CertificateStudent"))
    {

        
            @if (document.Link == "AdeverintaStudent.pdf")
            {
                <tr>
                    <td>Student Certificate</td>
                    <td><a href="~/doc/Certificates/AdeverintaStudent.pdf">Download PDF</a></td>
                </tr>
            }
            @if (document.Link == "AdeverintaLocDeMuncaStudent.pdf")
            {
                <tr>
                    <td>Certificate for job application</td>
                    <td><a href="~/doc/Certificates/AdeverintaLocDeMuncaStudent.pdf">Download PDF</a></td>
                </tr>
            }
            @if (document.Link == "AnexaStudent.pdf")
            {
                <tr>
                    <td>Anex 1</td>
                    <td><a href="~/doc/Certificates/AnexaStudent.pdf">Download PDF</a></td>
                </tr>
            }
        
    }
}
</table>
@if (User.IsInRole("Teacher"))
{
    <table class="table">
    @foreach (Document document in Model.Where(document => document.Type == "CertificateTeacher"))
    {

        
            @if (document.Link == "AdeverintaTeacher.pdf")
            {
                <tr>
                    <td>Teacher Certificate</td>
                    <td><a href="~/doc/Certificates/AdeverintaTeacher.pdf">Download PDF</a></td>
                </tr>
            }
            @if (document.Link == "AdeverintaLocDeMuncaTeacher.pdf")
            {
                <tr>
                    <td>Certificate for Holiday</td>
                    <td><a href="~/doc/Certificates/AdeverintaLocDeMuncaTeacher.pdf">Download PDF</a></td>
                </tr>
            }
            @if (document.Link == "AnexaTeacher.pdf")
            {
                <tr>
                    <td>Anex 1</td>
                    <td><a href="~/doc/Certificates/AnexaTeacher.pdf">Download PDF</a></td>
                </tr>
            }
        
    }
    </table>
}
