@model IEnumerable<UCVstudents.Models.Document>
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<h1>Personal Documents</h1>

<p>
    Here you can find personal uploaded documents
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Type</td>
            <td>
                @if (string.IsNullOrEmpty(item.Link))
                {
                    <!-- If Link is empty, show upload button -->
                    <form asp-action="Upload" enctype="multipart/form-data">
                        <input type="hidden" name="documentId" value="@item.DocumentId" />
                        <input type="file" name="file" accept=".pdf,.jpg,.png" />
                        <button type="submit">Upload</button>
                    </form>
                }
                else
                {
                    <!-- If Link is not empty, show download link -->
                    <a href="~/doc/Documents/@item.Link">Download PDF</a>
                }
            </td>
        </tr>
    }
</table>
