@*
   Luam orare de la noi si le punem aici hardcodat. Pagina sa arate cum e in mockup
*@

@{
}

<style>
    .timetable {
        margin-bottom: 20px;
    }

        .timetable th {
            text-align: left;
        }
</style>

<div class="timetable">
    <h2>Calculatoare Engleza</h2>
    <ul>
        <li><strong>Year 1 Semester 1:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An1_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 1 Semester 2:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An1_Sem2.pdf">Download PDF</a></li>
        <li><strong>Year 2 Semester 1:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An2_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 2 Semester 2:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An2_Sem2.pdf">Download PDF</a></li>
        <li><strong>Year 3 Semester 1:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An3_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 3 Semester 2:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An3_Sem2.pdf">Download PDF</a></li>
        <li><strong>Year 4 Semester 1:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An4_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 4 Semester 2:</strong> <a href="~/doc/Timetables/Calculatoare_Engleza_An4_Sem2.pdf">Download PDF</a></li>
    </ul>
</div>

<div class="timetable">
    <h2>Automatica si Informatica Aplicata</h2>
    <ul>
        <li><strong>Year 1 Semester 1:</strong> <a href="~/doc/Timetables/AIA_An1_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 1 Semester 2:</strong> <a href="~/doc/Timetables/AIA_An1_Sem2.pdf">Download PDF</a></li>
        <li><strong>Year 2 Semester 1:</strong> <a href="~/doc/Timetables/AIA_An2_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 2 Semester 2:</strong> <a href="~/doc/Timetables/AIA_An2_Sem2.pdf">Download PDF</a></li>
        <li><strong>Year 3 Semester 1:</strong> <a href="~/doc/Timetables/AIA_An3_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 3 Semester 2:</strong> <a href="~/doc/Timetables/AIA_An3_Sem2.pdf">Download PDF</a></li>
        <li><strong>Year 4 Semester 1:</strong> <a href="~/doc/Timetables/AIA_An4_Sem1.pdf">Download PDF</a></li>
        <li><strong>Year 4 Semester 2:</strong> <a href="~/doc/Timetables/AIA_An4_Sem2.pdf">Download PDF</a></li>
    </ul>
</div>
