@page
@{
    ViewData["Title"] = "Login";
}

<div class="login-form">
    <h1>Welcome to UCVStudents platform</h1>
    <form>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="name@example.com" />
            <label>Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="Password" />
            <label>Password</label>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</div>
