@model UCVstudents.Models.Subject
<h2>Edit Subject</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="SubjectId" />
    <label>Name</label><input asp-for="Name" class="form-control" />
    <label>Description</label><input asp-for="Description" class="form-control" />
    <label>Credits</label><input asp-for="Credits" class="form-control" />
    <label>Faculty</label><input asp-for="Faculty" class="form-control" />
    <button type="submit">Save</button>
</form>