@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="landing-text">
        <h1>UCVstudents</h1>
        <img src="~/images/student.png" alt="UCVstudents Banner" style="width:100%; max-height:600px;" />

    </div>
</div>
