html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #208d77;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #0b5345;
}

.navbar {
    border: 0px !important;
}

.nav-link {
    transition: 0.3s;
}

.navbar-brand {
    border-right: 3px solid #0b5345;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    transition: 0.3s;
}

    ul li:last-child a.nav-link {
        border-right: 0px;
    }

form button.nav-link {
    border-right: 0px;
}

.nav-link:hover,
.navbar-brand:hover {
    background-color: #66a195;
}

.navbar-light .navbar-brand {
    color: #0b5345;
}

.navbar {
    background-color: #c0d9d4;
    height: 60px;
}

.landing-text {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #0b5345;
}

.btn-primary {
    color: #fff;
    background-color: #0b5345;
    border-color: #0b5345;
}

a {
    color: #0b5345;
    text-decoration: underline;
}