tr {
    background-color: white;
}


td, th {
    padding: 5px 0px 5px 8px;
}

th {
    background-color: #c0d9d4 !important;
}

table {
    width: 100%;
    margin-bottom: 10px;
    border: 0.5px solid #0b5345 !important;
}
